<div class="about_menu">
    <kbd><%= link_to "MY WORK", :class=>"main_menu" ,:controller=>'homes', :action=>'portfolio'%></kbd>..|..
    <span class="main_menu selected">
    	<kbd>
    		<%= "ABOUT ME" %>
    	</kbd>
    </span>..|..
    <kbd><%= link_to "MY GALLERY", :class=>"main_menu ",:controller=>'homes', :action=>'mygallery'%></kbd>..|..
    <kbd><%= link_to "CONTACT ME", :class=>"main_menu",:controller=>'homes', :action=>'contact'%></kbd>
</div>

<h3>About Me</h3>

<div id="aboutme_text">
	<p>
		Hi, this is Chandramouli, Web Developer/Designer from India.
		I finished my Post Graduation degree Majoring in <b>Master of Computer Application</b> and
		currently Persuing my career as <b>Software Engineer</b> in Sagework Software Pvt Ltd,Puducherry.
	</p>
	<p>
		I Develop Web Application using Ruby on Rails.<br/>
		<b>Skilled</b> in RoR, JQuery, Html, Css, MSql, Javascript.
	</p>
	<p>
		Love to hang up with frieds in Social Networks.
	</p>
</div>