<div class="about_menu">
    <kbd><%= link_to "MY WORK", :class=>"main_menu" ,:controller=>'homes', :action=>'portfolio'%></kbd>..|..
    <kbd><%= link_to "ABOUT ME", :class=>"main_menu" ,:controller=>'homes', :action=>'about_me' %></kbd>..|..
    <span class="main_menu selected">
    	<kbd>
    		<%= "MY GALLERY" %>
    	</kbd>
    </span>..|..
    <kbd><%= link_to "CONTACT ME", :class=>"main_menu",:controller=>'homes', :action=>'contact'%></kbd>
</div>

<h3>My Gallery</h3>
	
<div id="gallery">
    <ul>
        <li>
            <a href="/photos/image1.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery').lightBox();">
            <img src="/photos/thumb_image1.jpg" width="72" height="72" alt="" />
            </a>
        </li>
        <li>
            <a href="/photos/image2.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery a').lightBox();">
            <img src="/photos/thumb_image2.jpg" width="72" height="72" alt="" />
            </a>
        </li>
        <li>
            <a href="/photos/image3.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery a').lightBox();">
            <img src="/photos/thumb_image3.jpg" width="72" height="72" alt="" />
            </a>
        </li>
        <li>
            <a href="/photos/image4.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery a').lightBox();">
            <img src="/photos/thumb_image4.jpg" width="72" height="72" alt="" />
            </a>
        </li>
        <li>
            <a href="/photos/image5.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery a').lightBox();">
            <img src="/photos/thumb_image5.jpg" width="72" height="72" alt="" />
            </a>
        </li><br/>
        <li>
            <a href="/photos/image5.jpg" title="Utilize a flexibilidade dos seletores da jQuery e crie um grupo de imagens como desejar. $('#gallery a').lightBox();">
            <img src="/photos/thumb_image5.jpg" width="72" height="72" alt="" />
            </a>
        </li>
    </ul>
</div>



<script type="text/javascript">
    $(document).ready(function(){
        alert("Sorry This Page is Not Yet Ready");
    });
    $(function() {
        $('#gallery a').lightBox();
    });
</script>

