<div class="work_menu">
	<kbd><%= link_to "ABOUT ME", :class=>"main_menu" ,:controller=>'homes', :action=>'about_me' %></kbd>..|..
	<kbd><%= link_to "CONTACT ME", :class=>"main_menu",:controller=>'homes', :action=>'contact'%></kbd>..|..
	<kbd><%= link_to "MY WORK", :class=>"main_menu" ,:controller=>'homes', :action=>'portfolio' %></kbd>..|..
   	<span class="main_menu selected">
      <kbd>
        <%= "RESUME" %>
      </kbd>
    </span>
</div>
<table border="0" style="font-family:Times New Roman; Font-size:13px; color:#0268a1;">
  	<tr>
  		<td><h3>Resume</h3></td>
  		<td style="width:100%; text-align:right;">Download as
  		<a href="https://docs.google.com/document/d/1FGTd99X7Q95HY9pcvebWyKoQowTc29_BV_hQUs4tZ5Q/edit?hl=en_US"> Doc</a> ..|.. 
  		<a href="https://docs.google.com/open?id=0B_cAV8ixO35QYzU1NDgzMTYtZTQ5Zi00ZTllLWIxYTItMDM4ZWY5NGZhNzI5" target="new">PDF</a> ..|..
  		Print
  		</td>
  	</tr> 
</table>
<div class="resume_content" >
<table border ="0px" width=95%>
    <tr>
    	<td>
			CHANDRAMOULI.G <br/> 
			CUDDALORE-INDIA<br/>
			Mobile : +91-9486793565<br/>
			Website: gchandramouli@heroku.com<br/>		
			Email  : mouli.g85@gmail.com  <br/>
		</td>
		<td  style="float:right;">
			<img src="/images/mouli.png" width="128px" height="128px" title="chandramouli" alt="chandramouli" />
		</td>
	</tr>
</table>
</div>
<div class="split">
	<h5>Summary</h5>
</div>
<div class="resume_content">
	<ul>
		<li>I am a web developer with  24 months of experience.</li>
		<li>Adaptive to Emerging Technologies with Ease and Quickness.</li>
		<li>Good Coding style that confirms to Software Quality Standards.</li>
		<li>Technically adept and confident software programmer with exceptional skills in coding and documentation</li>
		<li>Good working knowledge in Java and Ruby on Rails technologies.</li>
	</ul>
</div>
<div class="split">
	<h5>
		Education Qualification 
		<span class="resume_link">
			<span class="edu_down slides"><b>[Slide Down]</b></span>..|..
			<span class="edu_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5>
</div>
<div class="resume_content educontent_slide">
	<ul>
		<li>Master of Computer Applications,<br/>
 			(2005 – 2008) from Jeppiaar Engineering College under Anna University <br/>
			<b>Grade: First Class (80.00%).</b>
		</li>
		<li>Bachelor of Science in Physics,<br/>
            (2002 - 2005) from St. Joseph’s College of Arts and Science under Madras University<br/>
			<b>Grade: First Class (72.00%).</b>
    	</li>
	</ul>
</div>


<div class="split">
	<h5>Rails Project
		<span class="resume_link">
			<span class="rps_down slides"><b>[Slide Down]</b></span>..|..
			<span class="rps_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5> 
</div>
<div class="resume_content rpscontent_slide">
    <ul>
    	<li>
			<b>Wattbot</b>: Wattbot is a web-based energy expert that simplifies the design, financing and purchase of clean energy solutions automatically.<br/>  It's a US based energy advisor, in Los Angeles, San Francisco, San Diego and New York.<br/> 
	        Project URL: <a href="http://www.wattbot.com">http://www.wattbot.com</a><br/>
	        <b>Responsibilities: </b>
	            <ul>
					<li>Clearing bugs and submitting cross browser testing reports regularly.</li>
					<li>Consulting clients to clarify details and implement information.</li>
				</ul>
             	<b> Keywords:</b> Ruby, Ruby on Rails, MySQL, Ajax, jQuery, Rspec, Cucumber, Git 
        </li>   
        <br/><br/>
        <li>
        	<b>Spending doctor</b>: Spending doctor is a web-based healthcare consumer, acting as an advocate for the healthcare consumer, reviewing every bill, negotiating rates where requested and acting on the consumer’s behalf with the providers they are paying.<br/>
        	Project URL: <a href="http://www.spendingdoctor.com">http://www.spendingdoctor.com</a><br/>
            <b>Responsibilities:</b>
	            <ul>
	            	<li>Associated with this project for the past one year.</li>
					<li>Developing, Testing and maintaining Spendingdoctor.</li>
					<li>Using jQuery to create better UI.</li>
					<li>Clearing bugs and submitting cross browser testing reports regularly.</li>
				</ul>
	       		<b>Keywords:</b> Ruby, Ruby on Rails, MySQL, Ajax, jQuery, Rspec, Cucumber, Git
		</li> 
	</ul>	
</div>


<div class="split">
	<h5>Work Experience
		<span class="resume_link">
			<span class="wexp_down slides"><b>[Slide Down]</b></span>..|..
			<span class="wexp_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5>
</div>
<div class="resume_content wexpcontent_slide">
	Total Professional Experience: 24 Months<br/> 
	Total Experience in sagework: 22 Months<br/> 
	<b>1.Sagework Software Pvt.Ltd.,Pondicherry</b>       /            <b>From April 2010 - To January 2012 </b><br/>
	<ul>
		<li>worked for the client Spendingdoctor.<br/> 
		<li><b>Keywords:</b> Ruby, Ruby on Rails, MySQL, Ajax,  jQuery Rspec, Cucumber, Git</li>
	</ul>
	<b>2.Knetworks Software Pvt.Ltd.,Chennai</b>       /            <b>From February 2012 - Present Software Engineer </b><br/>
	<ul>
		<li>Working for Red Cloud System.<br/> 
		<li><b>Keywords:</b> Ruby, Ruby on Rails, jQuery </li>
	</ul>
</div>



<div class="split">
	<h5>Software Skills
		<span class="resume_link">
			<span class="swskill_down slides"><b>[Slide Down]</b></span>..|..
			<span class="swskill_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5>
</div>
<div class="resume_content swskill_slide">
	<table>
		<tr>
			<td>Operating Systems</td><td>:</td><td>Windows 98, 2000, XP, MS-DOS </td>
		</tr>
		<tr>
			<td>Programming Languages</td><td>:</td><td>Ruby, C, C++, Core Java</td>
		</tr>
		<tr>
			<td>Database</td><td>:</td><td>Oracle 9i, MySQL</td>
		</tr>
		<tr>
			<td>Javascript Libraries</td><td>:</td><td>JQuery</td>
		</tr>
		<tr>
			<td>Web Technologies</td><td>:</td><td>HTML, HTML5, XML and CSS.</td>
		</tr>
		<tr>
			<td>Multimedia</td><td>:</td><td>Basics of  Adobe Flash, Photoshop, 3D studio max</td>
		</tr>
	</table>
</div>




<div class="split">
	<h5>Certifications
		<span class="resume_link">
			<span class="certification_down slides"><b>[Slide Down]</b></span>..|..
			<span class="certification_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5>
</div>
<div class="resume_content certification_slide">
	<ul>
		<li>Completed Sun Certification in java.</li>
	</ul>
</div>



<div class="split">
	<h5>Credits and Achievements
		<span class="resume_link">
			<span class="credit_down slides"><b>[Slide Down]</b></span>..|..
			<span class="credit_up slides"><b>[Slide Up]</b></span>
		</span>
	</h5>
</div>
<div class="resume_content credit_slide">
	<ul>
		<li>First class in Typewriting Lower in English.</li>
		<li>First Place in poster presentation in “STATE LEVEL SEMINAR ON EMERGING TRENDS IN PHYSICS” held at Abdul Hakeem college at Vellore.</li>
		<li>Organized the state Level Seminar competition at Cuddalore in the year 2005.</li>
		<li>Active member in Youth Red Cross Committee.</li>
	</ul>
</div>

<div class="split">
	<h5>Personal Details</h5>
</div>
<div class="resume_content">
	<table>
		<tr>
			<td>Date of Birth</td><td>:</td><td>28th July 1985</td>
		</tr>
		<tr>
			<td>Gender</td><td>:</td><td>Male</td>
		</tr>
		<tr>
			<td>Permanent Address</td><td>:</td><td>18/28 Murugalaya Nagar,</td>
		</tr>
		<tr>
			<td></td><td></td><td>Thirupapuliyur,</td>
		</tr>
		<tr>
			<td></td><td></td><td>Cuddalore-607002.</td>
		</tr>
		<tr>
			<td>Languages Known</td><td>:</td><td>Tamil and English</td>
		</tr>
	</table>
</div>



<script type="text/javascript" charset="utf-8">
	$(document).ready(function() { 
	   $('.educontent_slide').hide();
	   $('.rpscontent_slide').hide();
	   $('.wexpcontent_slide').hide();
	   $('.swskill_slide').hide();
	   $('.certification_slide').hide();
	   $('.credit_slide').hide();
	   $('.edu_down').click(function() {
  			$('.educontent_slide').slideDown('slow');
		});
		$('.edu_up').click(function() {
  			$('.educontent_slide').slideUp('slow');
		});	
		$('.rps_down').click(function() {
  			$('.rpscontent_slide').slideDown('slow');
		});
		$('.rps_up').click(function() {
  			$('.rpscontent_slide').slideUp('slow');
		});	
		$('.wexp_down').click(function() {
  			$('.wexpcontent_slide').slideDown('slow');
		});
		$('.wexp_up').click(function() {
  			$('.wexpcontent_slide').slideUp('slow');
		});	
		$('.swskill_down').click(function() {
  			$('.swskill_slide').slideDown('slow');
		});
		$('.swskill_up').click(function() {
  			$('.swskill_slide').slideUp('slow');
		});		
		$('.certification_down').click(function() {
  			$('.certification_slide').slideDown('slow');
		});
		$('.certification_up').click(function() {
  			$('.certification_slide').slideUp('slow');
		});
		$('.credit_down').click(function() {
  			$('.credit_slide').slideDown('slow');
		});
		$('.credit_up').click(function() {
  			$('.credit_slide').slideUp('slow');
		});
	});

</script>

